.button-toggle-gritcode {
    position: relative;
    overflow: hidden;
    padding: 0 !important;
    border: 0;
    .btn {
        margin: 0;
        display: inline-block;
        outline: none;
        transition: transform .35s;
        transform: translate(-100%);
        &:active,&:hover,&:visited,&:focus {
            outline: none;
        }
    }
    &.active {
        .btn {
            transform: translate(0%);
        }
        .handle {
            left: calc(100% - 12px);
        }
    }
    .handle {
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #fff;
        position: absolute;
        margin: 1px;
        height: calc(100% - 2px);
        padding: 0;
        width: 10px;
        left: 0%;
        top: 0;
        z-index: 2;
        transition: left .35s;
    }
}
