.dropdown {
  width: 200px;
  .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    .checked-items {
      display: inline-block;
      width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .dropdown-menu {
    width: 200px;
    max-height: 200px;
    overflow-y: scroll;
    .dropdown-item {
      display: flex;
      justify-content: space-between;
      span {
        width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      svg.icon {
        margin-top: 3px;
      }
    }
  }
}