@import "_mixins";

// dropdown-multiselect
$gritcode-dropdown-multiselect-width: 180px !default;
$gritcode-dropdown-multiselect-menu-height: 200px !default;

// off canvas menu
$gritcode-offcanvas-menu-width: 300px !default;
