// kzim/icons
$icon-fill-dark: #000;
$icon-fill-light: #fff;
$icon-size-sm: 1em;
$icon-size-md: 1.2em;
$icon-size-lg: 1.4em;
$icon-size-xl: 1.6em;
$icon-size-xxl: 1.8em;

$icon-fill-primary: $brand-primary;
$icon-fill-info: $brand-info;
$icon-fill-success: $brand-success;
$icon-fill-warning: $brand-warning;
$icon-fill-danger: $brand-danger;