// demo theme
$state-success-text:             #3c763d !default;
$state-success-bg:               transparent !default;
$state-success-border:           darken(#dff0d8, 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  transparent !default;
$state-info-border:              darken(#d9edf7, 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               transparent !default;
$state-warning-border:           darken(#fcf8e3, 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                transparent !default;
$state-danger-border:            darken(#f2dede, 5%) !default;