// Toggles
//
// Used in conjunction with global variables to enable certain theme features.

@mixin border-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-radius: $radius;
  }
}

@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    transition: $transition;
  }
}

// Utilities
@import "breakpoints";
@import "hide-text";
@import "hover";
@import "image";
@import "label";
@import "reset-filter";
@import "resize";
@import "responsive-visibility";
@import "screen-reader";
@import "size";
@import "tab-focus";
@import "reset-text";
@import "text-emphasis";
@import "text-truncate";

// // Components
@import "alert";
@import "buttons";
@import "pagination";
@import "list-group";
@import "nav-divider";
@import "forms";
@import "progress";
@import "table-row";

// // Skins
@import "background-variant";
@import "border-radius";
@import "gradients";

// // Layout
@import "clearfix";
@import "center-block";
// @import "navbar-align";
@import "grid-framework";
@import "grid";
@import "pulls";
