@mixin icon-variant ($color) {
    svg.icon {
        fill: $color;
    }
}

// global default
svg.icon {
	@include square($font-size-base);
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
	&.icon-right {
		margin-left: 5px;
		margin-right: 0;
	}
	&.icon-left {
		margin-left: 0;
		margin-right: 5px;
	}
}

// svg icon sizes
svg.icon {
	&.icon-sm {
	    @include square($kzima-icon-size-sm);
	}

	&.icon-md {
	    @include square($kzima-icon-size-md);
	}

	&.icon-lg {
	    @include square($kzima-icon-size-lg);
	}

	&.icon-xl {
	    @include square($kzima-icon-size-xl);
	}

	&.icon-xxl {
	    @include square($kzima-icon-size-xxl);
	}
}

// svg icon fill variants
svg.icon {
	&.icon-primary {
	    fill: $kzima-icon-fill-primary;
	}

	&.icon-info {
	    fill: $kzima-icon-fill-info;
	}

	&.icon-success {
	    fill: $kzima-icon-fill-success;
	}

	&.icon-warning {
	    fill: $kzima-icon-fill-warning;
	}

	&.icon-danger {
	    fill: $kzima-icon-fill-danger;
	}

	&.icon-dark {
	    fill: $kzima-icon-fill-dark;
	}

	&.icon-light {
	    fill: $kzima-icon-fill-light;
	}
}