// kzima/icons
$kzima-icon-fill-dark: #000;
$kzima-icon-fill-light: #fff;
$kzima-icon-size-sm: 1rem;
$kzima-icon-size-md: 1.2rem;
$kzima-icon-size-lg: 1.4rem;
$kzima-icon-size-xl: 1.6rem;
$kzima-icon-size-xxl: 1.8rem;
$kzima-icon-fill-primary: $brand-primary;
$kzima-icon-fill-info: $brand-info;
$kzima-icon-fill-success: $brand-success;
$kzima-icon-fill-warning: $brand-warning;
$kzima-icon-fill-danger: $brand-danger;